// This file contains all application-wide Sass variable

// Copy text color
/// @type Color
$text-color: #333;

// Navigation link color
/// @type Color
$nav-link-color: #fff;

// Navigation bar color
/// @type Color
$nav-color: #000;

// Container's maximum width
/// @type Length
$max-width: 1200px !default;

// Font family Poppins
/// @type List
$text-font-stack: 'Poppins', sans-serif;

// Font family Sintony
/// @type List
$navbar-font: 'Sintony', sans-serif;

// Media Queries
$small: 320px;
$medium: 720px;
$large: 1024px;