.current__season {
    display: none;
}

.last__season {
    display: none;
}

.career__stats {
    display: none;
}

.playoff__stats {
    display: none;
}

// Stats lists
ul.stats__list {
    margin-bottom: 20px;
    li {
        @include center;
    }
}

.container {
    @media(min-width: $medium) {
        margin: 0 auto;
        max-width: 720px;
        width: 720px;
    }

    @media(min-width: $large) {
        margin: 0 auto;
        max-width: $max-width;
        width: $max-width;
        display: grid;
        @include center;
        min-height: 100vh;
    }
}